# Local
.DS_Store
*.local
*.log*

# Dependencies and build outputs
**/node_modules
**/dist
**/.turbo
**/.next
**/build
**/Pods
**/DerivedData
**/.symlinks

# IDE
.vscode/*
!.vscode/extensions.json
.idea
**/*.xcuserstate
**/xcuserdata/
**/*.xcworkspace/xcuserdata/
ios/lynx-ios/lynx-ios.xcworkspace/

# TypeScript
*.tsbuildinfo
